{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1 class="text-center">Login</h1>
        <form method="POST" style="width: 50%; margin: auto" novalidate>
            {% csrf_token %}
           {{ form | crispy }}
            {% comment %} {% for frm in form %}
            {{frm.label}}
            {{frm}}
            {{frm.errors}}
            {% endfor %} {% endcomment %}
            <input type="submit" value="Submit" class="btn btn-primary mt-3">
        </form>
    </div>
</section>
{% endblock %}